body {
    font-family: 'aptos', sans-serif;
    font-size: 13px;
    line-height: 1.6;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: #14945e;
}
header {
    text-align: center;
    margin-bottom: 1em;
    padding: 1em;
    background-color: ##148b6c;
    color: #000000;
    border-radius: 10px;
}

h1 {
    font-size: 2.5em;
    letter-spacing: 0.1em;
    margin-top: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 0.5em;
}

main {
    display: grid;
    grid-template-columns: 30% 70%;
    margin-top: 2em;
    background: linear-gradient(to right, #14945e, #ffffff);
}

header {
    text-align: center;
    margin-bottom: 1em;
}

section {
    margin: auto 1em 4em 2em;
}

i {
    margin-right: .5em;
}

p {
    margin: .2em auto
}

hr {
    border: none;
    background-color: lightgray;
    height: 1px;
}

h1, h2 {
    font-weight: 100;
    margin-bottom: 0;
}

#mainLeft {
    border-right: 2px solid #ccc;
    padding-right: 1em;
}
